<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="icomoon/style.css" type="text/css">
    <link rel="stylesheet" href="plugins/nouislider/nouislider.min.css" type="text/css">
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <link rel="stylesheet" type="text/css" href="plugins/formstyler/jquery.formstyler.css">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!--<link rel="stylesheet" href="css/main.css"> -->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<header class="headerMain">
    <img src="img/headerimg.png" alt="">
</header>

<div class="overview_gridWrapp">
    <div class="breadCrumbWrapp">
        <div class="centerDiv">
            <div class="breadContent">
                <a href="#"><span>Home</span></a> <span class="arrowBread"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span> <a href="#"><span class="activeBread">Occasions</span></a> <span class="rightBCSpan">Terug naar het overzicht • <a href="#">Print deze pagina</a></span>
            </div>
        </div>
    </div>

    <div class="leftAndRightWrapp singleItemWrapp">
        <div class="centerDiv">
            <div class="leftContent_at">
                <div class="detailPage">
                    <div class="carTitleTop">
                        VOLVO V40 R-Design T2 122 pk 6-speed handgeschakeld
                    </div>

                    <div class="sliderAndDesc">
                        <div class="leftSlideBlock">
                            <div class="fotorama"  data-nav="thumbs" data-allowfullscreen="true">
                                <a href="1.jpg"><img src="img/volvo-s90.jpg" width="75" height="75"></a>
                                <a href="2.jpg"><img src="img/volvo-v40-small-1.jpg" width="75" height="75"></a>
                                <a href="2.jpg"><img src="img/volvo-v40-small-2.jpg" width="75" height="75"></a>
                                <a href="2.jpg"><img src="img/volvo-v40-small-3" width="75" height="75"></a>
                                <a href="2.jpg"><img src="img/volvo-v40-small-4.jpg" width="75" height="75"></a>
                                <a href="2.jpg"><img src="img/volvo-v40-small-5.jpg" width="75" height="75"></a>
                                <a href="2.jpg"><img src="img/volvo-v40-small-6" width="75" height="75"></a>
                                <a href="2.jpg"><img src="img/volvo-v40.jpg" width="75" height="75"></a>
                                <a href="2.jpg"><img src="img/volvo-xc90.jpg" width="75" height="75"></a>
                            </div>
                        </div>

                        <div class="rightDescBlock">
                            <div class="priceandLogo">
                                <div class="priceCarItem">€31.180,00</div>
                                <div class="logoCarItem">
                                    <img src="img/NAP_Logo.jpg" alt="">
                                </div>
                            </div>

                            <div class="detailDesc">
                                <div class="leftDetailDesc">
                                    <p>Vraagprijs:</p>
                                    <p>Rijklaarmaakkosten:</p>
                                    <p>Merk:</p>
                                    <p>Model:</p>
                                    <p>Uitvoering:</p>
                                    <p>Kilometer stand:</p>
                                    <p>Bouwjaar:</p>
                                    <p>APK geldig tot:</p>
                                    <p>Brandstof:</p>
                                    <p>Kenteken:</p>
                                    <p>Transmissie:</p>
                                    <p>Carrosserievorm:</p>
                                    <p>Aantal deuren:</p>
                                </div>
                                <div class="rightDetailDesc">
                                    <p>€31.180,00</p>
                                    <p>€650,-</p>
                                    <p>Volvo</p>
                                    <p>V40</p>
                                    <p>R-Design T2 122 pk</p>
                                    <p>8.000</p>
                                    <p>2016</p>
                                    <p>november 2018</p>
                                    <p>Bezine</p>
                                    <p>01-PVK-2</p>
                                    <p>Handmatig</p>
                                    <p>Estate/Hatchback</p>
                                    <p>5</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="tabsSingleItem">
                    <div class="tabs">
                        <ul class="tab-links">
                            <li class="active"><a href="#tab1">Overzicht</a></li>
                            <li><a href="#tab2">Extra gegevens</a></li>
                            <li><a href="#tab3">Garanties</a></li>
                            <li><a href="#tab4">Financieren</a></li>
                            <li><a href="#tab5">Video</a></li>
                            <li><a href="#tab6">Inruil</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab1" class="tab active">
                                <div class="omschriving">
                                    <div class="titleOms commTitle26">
                                        Omschrijving
                                    </div>
                                    <div class="descOms commDesc">
                                        <p>
                                            Curabitur imperdiet felis quis elit pharetra blandit. Cras blandit turpis eu metus rutrum, ac egestas sem condimentum. Quisque mi lectus, porttitor vel neque in, bibendum ultricies tellus. Proin tincidunt lacinia cursus. Cras bibendum lacus eget viverra mollis. Suspendisse sagittis, elit vel pharetra imperdiet, turpis quam finibus eros, et pharetra ante quam suscipit metus. Nulla sit amet rhoncus ex. Praesent molestie, nunc non porta viverra, tortor lorem aliquet tellus, quis accumsan libero odio quis lacus. Duis vel elementum felis. Fusce porta porta turpis, molestie fermentum metus faucibus ut. Etiam velit lacus, condimentum at lobortis a, ultricies vel diam. Donec rutrum tempor arcu, quis feugiat sem sollicitudin et.
                                        </p>
                                    </div>
                                </div>

                                <div class="moreOptions">
                                    <div class="titleMoreOptions commTitleBlue">
                                        Meer opties
                                    </div>

                                    <div class="descmoreOptions commDesc">
                                        <ul class="commList">
                                            <li>Ut egestas leo eu orci commodo, eu maximus magna convallis.</li>
                                            <li>Cras suscipit lorem ut dolor dictum, a eleifend leo imperdiet.</li>
                                            <li>Ut sit amet lorem ac orci viverra imperdiet.</li>
                                            <li>Praesent at tortor non leo feugiat pellentesque.</li>
                                            <li>Donec euismod sapien vel malesuada faucibus.</li>
                                        </ul>

                                        <p>
                                            Vestibulum tempus iaculis lobortis. Morbi nec lacus et purus bibendum condimentum. Nam luctus nulla ac turpis consequat, et molestie enim efficitur. Integer eu massa nec justo aliquet venenatis. Proin felis enim, aliquam feugiat augue non, congue porta risus. Fusce nec mauris interdum, convallis neque id, egestas mi.
                                            Mauris viverra ipsum ante, quis congue sem lacinia sed. Suspendisse ornare vestibulum turpis sed lacinia. Sed est lectus, malesuada a nunc quis, mollis pulvinar sem. Suspendisse tincidunt nisi a posuere consequat. Nulla tempus, nisl vitae condimentum mattis, felis mauris elementum nisi, ac placerat risus ipsum sed arcu. Nulla laoreet nisi ac dui condimentum, et dapibus tortor vehicula. Vivamus id pellentesque justo. Mauris mollis nulla vel fermentum pulvinar. In et luctus justo, eget euismod lectus. Nulla facilisi.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div id="tab2" class="tab">
                                <div class="optionsAccesories">
                                    <div class="optAccTitle commTitle26">
                                        Opties en Accessoires
                                    </div>

                                    <div class="descOptAcc">
                                        <div class="optieAccItem">
                                            <div class="titleOptieAcc commTitleBlue">
                                                Veiligheid
                                            </div>

                                            <ul class="commList commDesc">
                                                <li>ABS</li>
                                                <li>Airbags</li>
                                                <li>Alarmsysteem</li>
                                                <li>Centrale deurvergrendeling</li>
                                                <li>Getint glas</li>
                                                <li>Startonderbreker</li>
                                                <li>Stuurbekrachtiging</li>
                                                <li>Toerenteller</li>
                                            </ul>

                                            <div class="titleOptieAcc commTitleBlue">
                                                Audio / Telefonie
                                            </div>

                                            <ul class="commList commDesc">
                                                <li>Audio installatie MP3</li>
                                                <li>Audio installatie radio CD</li>
                                                <li>Radio-voorbereiding</li>
                                            </ul>
                                        </div>

                                        <div class="optieAccItem">
                                            <div class="titleOptieAcc commTitleBlue">
                                                Exterieur
                                            </div>

                                            <ul class="commList commDesc">
                                                <li>ABS</li>
                                                <li>Airbags</li>
                                                <li>Alarmsysteem</li>
                                                <li>Centrale deurvergrendeling</li>
                                                <li>Getint glas</li>
                                                <li>Startonderbreker</li>
                                                <li>Stuurbekrachtiging</li>
                                                <li>Toerenteller</li>
                                            </ul>

                                            <div class="titleOptieAcc commTitleBlue">
                                                Verlichting
                                            </div>

                                            <ul class="commList commDesc">
                                                <li>Xenon Verlichting</li>
                                                <li>Derde remlicht</li>
                                                <li>Ledverlichting voor en achter</li>
                                            </ul>
                                        </div>

                                        <div class="optieAccItem">
                                            <div class="titleOptieAcc commTitleBlue">
                                                Veiligheid en Techniek
                                            </div>

                                            <ul class="commList commDesc">
                                                <li>Airbags Bestuurder en Passagier</li>
                                                <li>Airbags voor en side</li>
                                                <li>Alarmsysteem</li>
                                                <li>Alarmsysteem 1</li>
                                                <li>Antiblokkeersysteem (ABS)</li>
                                                <li>Centrale deurvergrendeling met afstandsbediening</li>
                                                <li>Getint glas</li>
                                                <li>Start / stop systeem</li>
                                                <li>Startblokkering</li>
                                                <li>Stuurbekrachting</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="tab3" class="tab">
                                <div class="garantiePart">
                                    <div class="titleOms commTitle26">
                                        Garanties
                                    </div>
                                    <div class="descOms commDesc">
                                        <ul class="commList commDesc">
                                            <li>AutoPass</li>
                                            <li>Onderhoudsboekjes</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div id="tab4" class="tab">
                                <div class="garantiePart">
                                    <div class="titleOms commTitle26">
                                        Garanties
                                    </div>
                                    <div class="descOms commDesc">
                                        <ul class="commList commDesc">
                                            <li>AutoPass</li>
                                            <li>Onderhoudsboekjes</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div id="tab5" class="tab">
                                <div class="videoPart">
                                    <div class="titleVideo commTitle26">
                                        Video
                                    </div>
                                    <div class="desvVideo commDesc">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nh0000VayrA" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div id="tab6" class="tab">
                                <div class="garantiePart">
                                    <div class="commTitle26">
                                        Garanties
                                    </div>
                                    <div class="descOms commDesc">
                                        <ul class="commList commDesc">
                                            <li>AutoPass</li>
                                            <li>Onderhoudsboekjes</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- tabs section -->

            <!-- end -->




            <!-- sidebar -->
            <div class="sidebarContent">
                <div class="titleSidebarDetail">
                    Neem contact met ons op
                </div>

                <div class="sidebarFilters">
                    <form action="" class="sidebarForm">
                        <p>
                            <label for="">Uw naam</label>
                        </p>
                        <p>
                            <input type="text" placeholder="John Doe">
                        </p>

                        <p>
                            <label for="">E-mailadres</label>
                        </p>
                        <p>
                            <input type="email" placeholder="johndoe@gmail.com">
                        </p>

                        <p>

                        <p>
                            <label for="">Telefoonnummer </label><span class="optionel">(optioneel)</span>
                        </p>
                        <p>
                            <input type="tel" placeholder="+31 0000 000 000">
                        </p>

                        <p>
                            <label for="km">Bericht</label>
                        </p>
                        <p>
									<textarea rows="14"  placeholder="Geef een korte beschrijving van de staat van de auto">Goedendag,
										Ik ben geïnteresseerd in uw
										VOLVO V40 R-Design T2 122pk

										Wilt u contact met mij opnemen?

										Met vriendelijke groet,
									</textarea>
                        </p>

                        <p>
                            <label for="">Proefrit?</label>
                        </p>
                        <p>
                            <input type="checkbox" name="u" value="u" class="checkboxInput">Ja ik wil graag een proefrit maken<br>
                        </p>

                        <p class="labelMargTop">
                            <label for="" >Wanneer wilt u de proefrit maken?</label>
                        </p>
                        <p>
                            <input type="text" placeholder="Kies een datum" class="dateInput">
                        </p>

                        <hr class="lineAll">

                        <p>
                            <label for="" class="bigLabel">Deel deze tweedehands auto</label>
                        </p>

                        <p>
                            <span class="socialIcons"><a href="#"><i class="icon-facebook"></i></a></span>
                            <span class="socialIcons"><a href="#"><i class="icon-twitter"></i></a></span>
                            <span class="socialIcons"><a href="#"><i class="icon-google-plus"></i></a></span>
                            <span class="socialIcons"><a href="#"><i class="icon-linkedin"></i></a></span>
                            <span class="socialIcons"><a href="#"><i class="icon-pinterest"></i></a></span>
                            <span class="socialIcons"><a href="#"><i class="icon-email"></i></a></span>
                        </p>

                        <hr class="lineAll">

                        <a href="#" class="button_at1">
                            verzenden
                        </a>

                        <hr class="lineAll">

                        <p>
                            <label for="" class="bigLabel">Contactinformatie</label>
                        </p>
                        <p class="commDesc">
                            Zaadmarkt 95 <br>
                            7201 DD Zutphen<br><br>
                            0575-512 125<br>
                            <a href="#" class="blueLink">verkoop@best4u.nl</a>
                        </p>


                    </form>
                </div>
            </div>
            <!-- end sidebar -->
        </div>
    </div>



</div>







<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')</script>
<script src="plugins/nouislider/nouislider.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<script src="plugins/formstyler/jquery.formstyler.js"></script>
<script src="jsAuto/mainAuto.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>