<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="icomoon/style.css" type="text/css">
        <link rel="stylesheet" href="plugins/nouislider/nouislider.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="styles.css">
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!--<link rel="stylesheet" href="css/main.css"> -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <header class="headerMain">
        	<img src="img/headerimg.png" alt="">
        </header>

        <div class="overview_gridWrapp">
			<div class="breadCrumbWrapp">
				<div class="centerDiv">
					<div class="breadContent">
						<a href="#"><span>Home</span></a> <span class="arrowBread"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span> <a href="#"><span class="activeBread">Occasions</span></a>
					</div>					
				</div>
			</div>

			<div class="leftAndRightWrapp">
	        	<div class="centerDiv">				
	        		<div class="leftContent">
	        			<div class="titleAndSelect">
	        				<div class="titleLeftPart">
	        					<h1>Occasions</h1>
	        				</div>	        				
							
							<div class="selectorB4uAuto">
								<form action="">
			        				<select name="name" id="#" class="selectCustom">
										<option value="volvo">Sorteren op...</option>
										<option value="saab">Saab</option>
										<option value="mercedes">Mercedes</option>
										<option value="audi">Audi</option>
									</select>
								</form>
							</div>	
	        			</div>	 

	        			<div class="carsContentLeft listType">
	        				<div class="caritemB4u">
	        					<div class="imgBlock">
	        						<div class="imgTable">
	        							<div class="imgTableCell">
	        								<img src="img/volvo-v40.jpg" alt="">
	        							</div>
	        						</div>	        						
	        					</div>
	        					<div class="carTxtBlock">
	        						<div class="titlecarItem">
	        							Peugeot 208 1.2 VTi Envy / Navigatie / Peugeot dealer onderhouden / Trekhaak
	        						</div>
	        						<div class="descCarItem">
	        							<div class="priceandLogo">
	        								<span class="priceCarItem">€31.180,00</span>
	        								<span class="logoCarItem">
	        									<img src="img/NAP_Logo.jpg" alt="">
	        								</span>
	        							</div>

	        							<div class="carOverallDetails">
	        								<div class="leftPartDetail">
	        									<p>Vraagprijs:</p>
	        									<p>Rijklaarmaakkosten:</p>
	        									<p>Brandstof:</p>
	        									<p>Bouwjaar:</p>
	        									<p>Transmissie:</p>
	        									<p>Kilometer stand:</p>
	        								</div>
	        								<div class="rightPartDetail">
	        									<p>€31.180,00</p>
	        									<p>€0,00</p>
	        									<p>Benzine</p>
	        									<p>november 2016:</p>
	        									<p>Handgeschakeld</p>
	        									<p>8.000 km</p>
	        								</div>
	        							</div>

	        							<a href="#" class="button">
	        								bekijk deze auto
	        							</a>
	        						</div>
	        					</div>
	        				</div>
							

	        				<div class="caritemB4u">
	        					<div class="imgBlock">
	        						<div class="imgTable">
	        							<div class="imgTableCell">
	        								<img src="img/volvo-v40-small-2.jpg" alt="">
	        							</div>
	        						</div>	        						
	        					</div>
	        					<div class="carTxtBlock">
	        						<div class="titlecarItem">
	        							Peugeot 208 1.2 VTi Envy / Navigatie / Peugeot dealer onderhouden / Trekhaak
	        						</div>
	        						<div class="descCarItem">
	        							<div class="priceandLogo">
	        								<span class="priceCarItem">€31.180,00</span>
	        								<span class="logoCarItem">
	        									<img src="img/NAP_Logo.jpg" alt="">
	        								</span>
	        							</div>

	        							<div class="carOverallDetails">
	        								<div class="leftPartDetail">
	        									<p>Vraagprijs:</p>
	        									<p>Rijklaarmaakkosten:</p>
	        									<p>Brandstof:</p>
	        									<p>Bouwjaar:</p>
	        									<p>Transmissie:</p>
	        									<p>Kilometer stand:</p>
	        								</div>
	        								<div class="rightPartDetail">
	        									<p>€31.180,00</p>
	        									<p>€0,00</p>
	        									<p>Benzine</p>
	        									<p>november 2016:</p>
	        									<p>Handgeschakeld</p>
	        									<p>8.000 km</p>
	        								</div>
	        							</div>

	        							<a href="#" class="button">
	        								bekijk deze auto
	        							</a>
	        						</div>
	        					</div>
	        				</div>

	        				<div class="caritemB4u">
	        					<div class="imgBlock">
	        						<div class="imgTable">
	        							<div class="imgTableCell">
	        								<img src="img/volvo-v40.jpg" alt="">
	        							</div>
	        						</div>	        						
	        					</div>
	        					<div class="carTxtBlock">
	        						<div class="titlecarItem">
	        							Peugeot 208 1.2 VTi Envy / Navigatie / Peugeot dealer onderhouden / Trekhaak
	        						</div>
	        						<div class="descCarItem">
	        							<div class="priceandLogo">
	        								<span class="priceCarItem">€31.180,00</span>
	        								<span class="logoCarItem">
	        									<img src="img/NAP_Logo.jpg" alt="">
	        								</span>
	        							</div>

	        							<div class="carOverallDetails">
	        								<div class="leftPartDetail">
	        									<p>Vraagprijs:</p>
	        									<p>Rijklaarmaakkosten:</p>
	        									<p>Brandstof:</p>
	        									<p>Bouwjaar:</p>
	        									<p>Transmissie:</p>
	        									<p>Kilometer stand:</p>
	        								</div>
	        								<div class="rightPartDetail">
	        									<p>€31.180,00</p>
	        									<p>€0,00</p>
	        									<p>Benzine</p>
	        									<p>november 2016:</p>
	        									<p>Handgeschakeld</p>
	        									<p>8.000 km</p>
	        								</div>
	        							</div>

	        							<a href="#" class="button">
	        								bekijk deze auto
	        							</a>
	        						</div>
	        					</div>
	        				</div>

	        				<div class="caritemB4u">
	        					<div class="imgBlock">
	        						<div class="imgTable">
	        							<div class="imgTableCell">
	        								<img src="img/volvo-v40.jpg" alt="">
	        							</div>
	        						</div>	        						
	        					</div>
	        					<div class="carTxtBlock">
	        						<div class="titlecarItem">
	        							Peugeot 208 1.2 VTi Envy / Navigatie / Peugeot dealer onderhouden / Trekhaak
	        						</div>
	        						<div class="descCarItem">
	        							<div class="priceandLogo">
	        								<span class="priceCarItem">€31.180,00</span>
	        								<span class="logoCarItem">
	        									<img src="img/NAP_Logo.jpg" alt="">
	        								</span>
	        							</div>

	        							<div class="carOverallDetails">
	        								<div class="leftPartDetail">
	        									<p>Vraagprijs:</p>
	        									<p>Rijklaarmaakkosten:</p>
	        									<p>Brandstof:</p>
	        									<p>Bouwjaar:</p>
	        									<p>Transmissie:</p>
	        									<p>Kilometer stand:</p>
	        								</div>
	        								<div class="rightPartDetail">
	        									<p>€31.180,00</p>
	        									<p>€0,00</p>
	        									<p>Benzine</p>
	        									<p>november 2016:</p>
	        									<p>Handgeschakeld</p>
	        									<p>8.000 km</p>
	        								</div>
	        							</div>

	        							<a href="#" class="button">
	        								bekijk deze auto
	        							</a>
	        						</div>
	        					</div>
	        				</div>

	        				<div class="caritemB4u">
	        					<div class="imgBlock">
	        						<div class="imgTable">
	        							<div class="imgTableCell">
	        								<img src="img/volvo-v40.jpg" alt="">
	        							</div>
	        						</div>	        						
	        					</div>
	        					<div class="carTxtBlock">
	        						<div class="titlecarItem">
	        							Peugeot 208 1.2 VTi Envy / Navigatie / Peugeot dealer onderhouden / Trekhaak
	        						</div>
	        						<div class="descCarItem">
	        							<div class="priceandLogo">
	        								<span class="priceCarItem">€31.180,00</span>
	        								<span class="logoCarItem">
	        									<img src="img/NAP_Logo.jpg" alt="">
	        								</span>
	        							</div>

	        							<div class="carOverallDetails">
	        								<div class="leftPartDetail">
	        									<p>Vraagprijs:</p>
	        									<p>Rijklaarmaakkosten:</p>
	        									<p>Brandstof:</p>
	        									<p>Bouwjaar:</p>
	        									<p>Transmissie:</p>
	        									<p>Kilometer stand:</p>
	        								</div>
	        								<div class="rightPartDetail">
	        									<p>€31.180,00</p>
	        									<p>€0,00</p>
	        									<p>Benzine</p>
	        									<p>november 2016:</p>
	        									<p>Handgeschakeld</p>
	        									<p>8.000 km</p>
	        								</div>
	        							</div>

	        							<a href="#" class="button">
	        								bekijk deze auto
	        							</a>
	        						</div>
	        					</div>
	        				</div>

	        				<div class="caritemB4u">
	        					<div class="imgBlock">
	        						<div class="imgTable">
	        							<div class="imgTableCell">
	        								<img src="img/volvo-v40.jpg" alt="">
	        							</div>
	        						</div>	        						
	        					</div>
	        					<div class="carTxtBlock">
	        						<div class="titlecarItem">
	        							Peugeot 208 1.2 VTi Envy / Navigatie / Peugeot dealer onderhouden / Trekhaak
	        						</div>
	        						<div class="descCarItem">
	        							<div class="priceandLogo">
	        								<span class="priceCarItem">€31.180,00</span>
	        								<span class="logoCarItem">
	        									<img src="img/NAP_Logo.jpg" alt="">
	        								</span>
	        							</div>

	        							<div class="carOverallDetails">
	        								<div class="leftPartDetail">
	        									<p>Vraagprijs:</p>
	        									<p>Rijklaarmaakkosten:</p>
	        									<p>Brandstof:</p>
	        									<p>Bouwjaar:</p>
	        									<p>Transmissie:</p>
	        									<p>Kilometer stand:</p>
	        								</div>
	        								<div class="rightPartDetail">
	        									<p>€31.180,00</p>
	        									<p>€0,00</p>
	        									<p>Benzine</p>
	        									<p>november 2016:</p>
	        									<p>Handgeschakeld</p>
	        									<p>8.000 km</p>
	        								</div>
	        							</div>

	        							<a href="#" class="button">
	        								bekijk deze auto
	        							</a>
	        						</div>
	        					</div>
	        				</div>

	        			</div>    

						<!-- Start pargination -->
						<div class="bottomNPaginationWrapp">
			        		<div class="centerDiv">
			        			<ul class="ulPagination">
			        				<li class="prevPage"><a href="#"><span><i class="fa fa-angle-double-left" aria-hidden="true"></i></span> Vorige</a></li>
			        				<li class="activePage"><a href="#">1</a></li>
			        				<li><a href="#">2</a></li>
			        				<li><a href="#">3</a></li>
			        				<li><a href="#">4</a></li>
			        				<li class="nextPage"><a href="#">Volgende <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span></a></li>
			        			</ul>
			        		</div>
			        	</div>
			        	<!-- end pagination -->
				

	        		</div>


	        		<div class="sidebarContent">
	        			<div class="titleSidebar h2">
	        				Occasion zoeken
	        			</div>

	        			<div class="sidebarFilters">
	        				<form action="">
	        					<p>
	        						<label for="a">Merk</label>
	        					</p>
	        					<select name="name" id="2" class="selectCustom">
									<option value="volvo">Alle merken</option>
									<option value="saab">Saab</option>
									<option value="mercedes">Mercedes</option>
									<option value="audi">Audi</option>
								</select>

								<p>
	        						<label for="b">Model</label>
	        					</p>
	        					<select name="name" id="2" class="selectCustom">
									<option value="volvo">Selecteer eerst een merk</option>
									<option value="saab">Saab</option>
									<option value="mercedes">Mercedes</option>
									<option value="audi">Audi</option>
								</select>

								<a href="#" class="button">
									toon auto's
								</a>





								<p>
	        						<label for="a">Prijs</label>
	        					</p>

	        					<p class="priceP">
									<span class="priceFrom">€ 0,00</span>
									<span class="priceTo">€ 10.000,00</span>
								</p>
								<div class="priceSliderCont commSlideCont">
									<div id="slider2" class="bouwjaarSlider"></div>
								</div>






	        					<p>
	        						<label for="a">Bouwjaar</label>
	        					</p>
								<p class="yearsP">
									<span class="yearsFrom">2000</span>
									<span class="yearsTo">2017</span>
								</p>
								<div class="yearSliderCont commSlideCont">
									<div id="slider" class="bouwjaarSlider"></div>
								</div>
	        					




	        					<p>
	        						<label for="b">Brandstof</label>
	        					</p>
	        					<select name="name" id="2" class="selectCustom">
									<option value="volvo">Alle brandstof</option>
									<option value="saab">Saab</option>
									<option value="mercedes">Mercedes</option>
									<option value="audi">Audi</option>
								</select>

								<p>
	        						<label for="b">Carrosserie</label>
	        					</p>
	        					<select name="name" id="2" class="selectCustom">
									<option value="volvo">Alle brandstof</option>
									<option value="saab">Saab</option>
									<option value="mercedes">Mercedes</option>
									<option value="audi">Audi</option>
								</select>

								<p>
	        						<label for="b">Motorinhoud</label>
	        					</p>
	        					<select name="name" id="2" class="selectCustom">
									<option value="volvo">Alle brandstof</option>
									<option value="saab">Saab</option>
									<option value="mercedes">Mercedes</option>
									<option value="audi">Audi</option>
								</select>

								<a href="#" class="buttonAlt">
									meer zoekopties
								</a>

								<a href="#" class="button">
									toon auto's
								</a>
	        				</form>
	        			</div>
	        		</div>
	        	</div>
        	</div>


        	
        </div>



















        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')</script>
        <script src="plugins/nouislider/nouislider.min.js"></script>
        <script src="jsAuto/mainAuto.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>