.leftContent_at .carsContentLeft .caritemB4u{
	width: 100%;
	margin-right: 0;
}

.button_at1, .button_atAlt{
	display: block;
	width: 100%;
}






.leftContent_at .titleAndSelect .titleLeftPart{
	width: 100%;
	margin-right:0; 
}

.leftContent_at .titleAndSelect .selectorB4uAuto{
	display: none;
}








.leftContent_at .carsContentLeft .caritemB4u .imgBlock{
	height: auto;
}

.leftContent_at .listType .caritemB4uList .imgBlock{
	width: 100%;
	float: none;
	margin-right: 0;
}

.leftContent_at .listType .caritemB4uList .carTxtBlock{
	width: 100%;
	float: none;
}



.singleItemWrapp .detailPage .sliderAndDesc .leftSlideBlock{
	width: 100%;
	float: none;margin-right: 0;
	margin-bottom: 30px;
}

.singleItemWrapp .detailPage .sliderAndDesc .rightDescBlock{
	width: 100%;
	float: none;
}



.tab-links li{
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.bottomNPaginationWrapp .ulPagination li.prevPage{
	padding: 0 5px;
}

.bottomNPaginationWrapp .ulPagination .nextPage{
	padding: 0 5px;
}

.bottomNPaginationWrapp .ulPagination li{
	height:30px;
	line-height: 30px;
	width: 30px;
	margin-right: 5px;
}