.overview_gridWrapp{
	padding: 0 20px;
}

.leftContent_at{
	width: 100%;
	float: none;
}

.sidebarContent{
	width: 100%;
	float: none;
	margin-left: 0;
}

.button_at1{
	margin-top: 0;
}

.sidebarContent a.button_at1{
	display: inline-block;
}

.sidebarContent a.button_atAlt{
	display: block;
	width: 100%;
}

.leftContent_at .titleAndSelect .selectorB4uAuto{
	padding-right: 0;
}

.leftContent_at .carsContentLeft .caritemB4u{
	padding-right: 0;
	border-right: 0;
}

