th
{
    font-weight: 300;
}
tbody
{
    background: #ffffff;
}
#attr_page td
{
    text-align: center;
    font-size: 12px;
}
.transparentColor
{
    border-bottom: none !important;
    border-top: none !important;
}
#wpwrap
{
    font-size: 13px !important;
    background: #ffffff !important;
}
#wpwrap input[type="text"]
{
    font-size: 13px !important;
    height: 35px !important;

}
#wpwrap input[type="password"]
{
    font-size: 13px !important;
    height: 35px !important;
}
#wpwrap select
{
    font-size: 13px !important;
    height: 35px !important;
}

.atribute
{
    background: #CCCCCC;
}

.transparentColor
{
    color: transparent;
}

.selectUnselect th
{
    border: none;
}

.selectUnselect td
{
    border-top: none !important;
    border-bottom:none !important;
}

.filterFields select{
    height: 28px !important;
    font-size: 12px !important;
}

.filterFields input{
    height: 28px !important;
    font-size: 12px !important;
}

.fieldGroup{
    border-bottom: solid 1px #ccc;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.fieldGroupName{
    font-size: 28px;
    line-height: normal;
    margin-bottom: 20px;

}

.form-control{
    height: 42px;
}
.shortDelimeter{
    border-bottom: solid 1px #ccc;
    margin: 20px 0;
}
.lbText{
    float: left;
    padding-left: 15px;
}
.lbIcon{
    float: right;
    padding: 0 6px;
}
.lbIcon img{
    width: 30px;
    opacity: 0.5;
}

.lbSwither{
    float: right;
    background-color: #fff;
    padding: 6px 0;
    border-right: solid 1px #bbb;
    border-left: solid 1px #bbb;
}
#sortable_details {
    border: solid 1px #bbb;
    float: left;
    width: 100%;
}
#sortable_details li{
    box-sizing: content-box;
    float: left;
    width: 100%;
    background-color: #ddd;
    border: solid 1px #bbb;
    margin: -1px -1px 0 -1px;
    line-height: 45px;
    /*padding: 10px 0;*/
}

#sortable_details li:last-child{
    border-bottom: none;
}


.eMailsRepeater{

}
.eRow{
    display: block;
    width: 100%;
    float: left;
    border: solid 1px #bbb;
    margin-top: -1px;
}
.eRow .erButton{
    background: #ddd url("../../images/add.png") no-repeat center;
    background-size: 20px;
    text-align: center;
    line-height: 40px;
    width: 42px;
}
.eRow:last-child .erButton{
    background: #ddd url("../../images/remove.png") no-repeat center;
    background-size: 20px;
}
.eRow:first-child .erButton{
    background: #ddd url("../../images/add.png") no-repeat center;
    background-size: 20px;
}
.erInput{
    float: left;
    width: calc(100% - 42px);

}

.atSocialIcon{
    width: 100%;
}

.erInput input{
    border: 0;
    box-shadow: none;
}
.erButton{
    position: relative;
    float: left;
    background-color: #eee;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.atSIRow{
    float: left;
    width: 100%;
    margin-bottom: 3px;
}
.atSIName{
    float: left;
    width: 20%;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
    border: solid 1px #bbb;
    box-sizing: border-box;
    font-weight: 700;
    text-transform: uppercase;
}
.atSIurl{
    float: left;
    width: 50%;
    border: solid 1px #bbb;
    border-left: 0;
    height: 52px;
    margin-right: 10px;
}
#wpwrap .atSIurl input[type="text"]{
    border: 0 !important;
    box-shadow: none !important;
    height: 50px !important;
}
.smIcon{
    /*width: 50px;*/
    /*max-width: 60px;*/
    /*padding: 5px;*/
    float: left;
    box-sizing: content-box;
}
.smIcon .iconHolder{
    border: solid 1px #bbb;
    background-color: #fff;
    width: 50px;
    height: 50px;
    position: relative;
}
.smIcon .iconHolder img{
    position: relative;
    top: 6%;
    left: 6%;
    width: 88%;
    height: 88%;
    object-fit: cover;
}
.smButton{
    float: left;
    width: 20%;
    padding-top: 10px;
    margin-left: 10px;
}

.atSIinput{
    width: 100%;
}
.geef{
    width: 100%;
    float: left;
}
.gRow{
    float: left;
    width: 100%;
    line-height: 42px;


}
#wpwrap .gRow input[type="text"]{
    width: 100px;
    height: 44px !important;
    box-shadow: none !important;
    border-color: #bbb !important;
}
.gDay{
    background-color: #eee;
    float: left;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    border: solid 1px #bbb;
    box-sizing: border-box;
    border-right: 0;
}
.gOrar1, .gOrar2{
    float: left;
}
.gOrar2{
    visibility: hidden;
    margin-left: -1px;
}
.gButton{
    float: right;
    cursor: pointer;
    height: 44px;
    background-color: #eee;
    border: solid 1px #bbb;
    box-sizing: border-box;
    width: 40px;
    text-align: center;
    margin-left: -1px;
}
.gButton img{
    vertical-align: top;
    margin: 10px auto 0;
    width: 20px;

}